[Unit]
Description=Lauch Bash Script to run stechzeiten.py in a tmux session
After=systemd-user-sessions.service

[Service]
Type=forking
ExecStart=/etc/stechzeiten/stechzeiten.sh

[Install]
WantedBy=multi-user.target
