[Unit]
Description=Lauch Bash Script to run stechzeiten.py in a tmux session
After=network.target 

[Service]
Type=simple
User=pi
ExecStart=/etc/stechzeiten/stechzeiten.sh

[Install]
WantedBy=multi-user.target
